@charset "utf-8";
/* CSS Document */

body{
background:url(../images/login_background/body.jpg) ;
background-repeat: repeat-y;
background-size: 100% 100%;
background-color:#515151
} 


html {
    height: 100%
}

div#form-login {
	width:400px; margin:90px auto;
	padding:20px; background-color: #EFEFEF;
	background: url(../images/bg_back.jpg) repeat;
	border-radius:15px; -moz-border-radius:15px; 
	-webkit-border-radius:15px;border:1px solid  #95A2FD;
	text-align:center;font-size: small;
	font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	letter-spacing: .01em;
	color:#009900;
}

div#form-login form { 
	margin:0px auto;padding:15px;border-radius:15px; -moz-border-radius:15px; 
	-webkit-border-radius:15px;border:1px solid #CCC;
	background :url(../images/bg.jpg) repeat-x;
	-webkit-box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
	-moz-box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
	box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
}
div#form-login form label { float:left; width:120px;}
div#form-login h1 { font:20px  "Lucida Sans Unicode", "Lucida Grande",Tahoma, sans-serif; border-bottom:1px dotted #009900;padding:5px;margin:10px;}
div#tombol { clear:both;padding:10px;}

.form_field{border: #E1E1E1 solid 3px;}
.form_field:focus{background-color: #E0E3FE ;}

.label_error{font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;font-size:12px; color: #FD0F21;}



.label_copyright
{
	font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	font-size:12px; color:#999;
	font-weight:bold;
	margin:auto;
	padding:5px;
}

/* new model box */

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
	


.transparan{
  opacity: 0.8;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

#backgroun_rounded {
    border-radius: 25px;
    background: #EEE;
    background-position: left top;
    background-repeat: repeat;
    padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;   
}

	


	
