/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/*header content */

body 
{
	background:url(../images/body.jpg)top;
}

.header_content {		
	height:96px;	
	background:url(../images/r_bg_headerold.gif) repeat-x  ; 			
}
#header_content {		
	height:96px;	
	background:url(../images/bg_header.gif) no-repeat ; 			
}

/* menu::base */
div#menu {	   
    height:41px;
    background: url(../images/main-bg.png) repeat-x;
}
div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font-size:12px ; 
    font-weight:bold ;
}
div#menu a:hover, div#menu a:hover span { font-weight:bold ; color:#9698FC;} /* warna font pada movement cusrsor parent menu */
div#menu li.current a {}

/* perubahan warna font dan background pada saat movement cursor menu sub child */
div#menu li li:hover, li li span{background-color:#066; background: url(../images/sub-panel-bg.png) repeat-x ; }
/*---------------*/

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
	
}

div#menu a.parent span {
    background-position:95% 8px;
    background-image: url(../images/arrow_down.gif);		   
}


div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(../images/item-pointer.gif);
		
   
}
div#menu ul ul a.parent:hover span {
    background-image: url(../images/item-pointer-mover.gif);	
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #F5F5F5; /* warna font pada parent menu */
}
div#menu span {
    margin-top: 5px;	
}/**@replace#1*/
div#menu li { background: url(../images/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: #FFC; }

/* menu::level2 */
div#menu ul ul li {  /*Child Dropdown*/	
	border: solid 1px #C7C7FE; 	 
	background:url(../images/child-panel-bg.png) repeat-x;	/* background png pada panel Child */
}

div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;   
	background-color:#E9E9E9; /*warna pada head panel child */
    margin-top:1px;	  	
}
div#menu ul ul a { /* menu Child */	
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
	font-weight:bold;
    color: #0681ca; /* warna font pada Child */	
}

div#menu ul ul ul li {  /*Sub Child Drop down */
    background: #FFF; /* warna panel pada sub Child */			
}

div#menu ul ul ul { /* menu sub Child */		
    position: absolute;
    top: 38px;
    left: -999em;
    width: 190px;
    padding: 5px 0 0 0;
    background: #FFF; /*warna pada head sub child panel*/
    margin-top:1px;	
}

div#menu ul ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
	font-weight:normal;
    color:#333; /* warna font pada sub Child */
}

div#menu ul ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: #0681ca; /*buat warna child ketika diam pake span  */
}
div#menu ul ul ul a:hover span {
    color: #0681ca; /*buat warna child ketika moving pake span  */
}


div#menu ul ul li.last { background: #0681ca; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(../images/lava.png) no-repeat right -44px !important;
    background-image: url(../images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(../images/lava.png) no-repeat top left !important;
    background-image: url(../images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

#position_view_parent{
 padding: 5px 15px 0px 0px ;
}

#position_child{
 margin: 0px 0px 5px 0px;
  
}

#rounded_main_menu {
    border-radius:13px;
    background:#e9e9e9;    
	margin : 7px 0px 10px 0px;
    padding: 10px 20px 20px 20px;    
	border:solid 1px #CCC;
	border-style:groove;	
}

#rounded_main_menu_fix {	
    border-radius:5px;
    background:#e9e9e9;
	height:100px;
	margin : 7px 0px 10px 0px;
    padding: 20px;    
	border:solid 1px #CCC;
	border-style:groove;	
}

#label_head_user{
	padding:75px 10px 10px 10px;
	font: 14px  Verdana ;
	color:#B66F03	;
}

#label_head_panel{	
	font:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	font-size:16px;
	font-weight:200;
	color:#333;
}

#label_footer{
	width:400px;
	margin:auto;
	padding:0px 0px 5px;	
	font: 12px "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;	
	color:#999	;
}

#label_text{
	margin:5px;
	font: bold 13px "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	color:#666;		
}

#button_email{
font-family:Verdana, Geneva, sans-serif;
background: url(../images/webmail_btn.png) no-repeat;
width:100px;
height:60px;
float: right;
background-position: 0 0;
}

#button_email:hover{
background-position: 0 100%;
}

#button_position
{
margin:5px;	
}

/* sorter table*/


.container {  
  overflow: hidden;  
  margin: 0 auto;
}

.container table {
  width: 100%;
}

.container td, .container th {
  padding: 0px;
}

.container td:first-child, .container th:first-child {
  padding-left: 20px;
}

.container td:last-child, .container th:last-child {
  padding-right: 20px;
}

.container th {
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}

.container th.desc:after {
  border-top-color: #666;
}

.container th.asc:before {
  border-bottom-color: #666;
}

.container th:after, .container th:before {
  content: ''; 
  position: absolute;
  right: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.container th:after {
  border-top-color: #ddd;
  top: 22px;
}

.container th:before {
  border-bottom-color: #ddd;
  top: 10px;
}

.github {
  margin-top: 50px;
}


/*----------------------table sendiri--- */

.table_cool {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 15px 15px #888888;			
	
}.table_cool table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table_cool tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.table_cool table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.table_cool table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}.table_cool tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}.table_cool tr:hover td{
	
}
.table_cool tr:nth-child(odd){ background-color:#E5E5E5; }
.table_cool tr:nth-child(even)    { background-color:#ffffff; }.table_cool td{
	vertical-align:middle;
	
	
	border:1px solid #D6D6D6;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-size:10px;
	font-family:verdana;
	font-weight:normal;
	color:#000000;
}.table_cool tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table_cool tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table_cool tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table_cool tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #a39b9b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #a39b9b) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #a39b9b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#a39b9b");	background: -o-linear-gradient(top,#cccccc,a39b9b);

	background-color:#cccccc;
	border:0px solid #D6D6D6;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:verdana;
	font-weight:bold;
	color:#aa5606;
}
.table_cool tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #a39b9b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #a39b9b) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #a39b9b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#a39b9b");	background: -o-linear-gradient(top,#cccccc,a39b9b);

	background-color:#cccccc;
}
.table_cool tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table_cool tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

