 <td align="center">
					<?php
						 If ($row->aprove_head == "1")
						 {
						    echo '<img src="'.base_url("asset/images/success_ico.png").'">' ;
						 }else{
							  If ($row->status_send_aprove == "-1")
							  {
								  echo '<div style=" color:#EB293D">'."Rejected".'</div>' ;
							  }else{
								  echo '<div style=" color:#EB293D">'."Pending Approval".'</div>' ;
							  }
						 }
				 	 ?>
                </td>
                 <td align="center">
				 	<?php
						 If ($row->approve_purchasing == "1")
						 {
						    echo '<img src="'.base_url("asset/images/success_ico.png").'">' ;
						 }else{
							  If ($row->status_send_aprove == "-1")
							  {
								 echo '<img src="'.base_url("asset/images/reject.png").'">' ;
							  }else{
								  echo '<div style=" color:#EB293D">'."Pending Approval".'</div>' ;
							  }
						 }
				 	 ?>
                </td>
                 <td align="center">
				 	 <?php
						 If ($row->aprove_bod == "1")
						 {
						     echo '<img src="'.base_url("asset/images/success_ico.png").'">' ;
						 }else{
							  If ($row->status_send_aprove == "-1")
							  {
								  echo '<img src="'.base_url("asset/images/reject.png").'">' ;
							  }else{
								  echo '<div style=" color:#EB293D">'."Pending Approval".'</div>' ;
							  }
						 }
				 	 ?>
                </td>
                <td>
				   <?php
				    If ($row->attach_quo != "")
					  {
					   echo'<a href='.base_url($row->attach_quo).' class="btn btn-warning btn-setting"  style="text-decoration:none">'."<span class='glyphicon glyphicon-search' aria-hidden='true'></span>".'View'.'</a>' ;
					  }else{
						echo '<div style=" color:#EB293D" align="center">'."No Quo".'</div>';
					  }
					?>
                </td>

<td><a href="#" class="btn btn-primary btn-setting print" id="print" style="text-decoration:none" req_id="<?php echo $row->id_master ; ?>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Detail</a></td>

<?php
      $strbodaprove  = $row->aprove_bod ;
	  $strpurchaseaprove   = $row->approve_purchasing ;
	  $strheadaprove = $row->aprove_head ;

if ($this->session->userdata("aproval_flag") == "1") :
  echo '<td><a href="#" class="btn btn-danger btn-setting reject" id="reject" style="text-decoration:none" req_id='. $row->id_master.'><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Reject</a>
</td>';
else :
    if ($this->session->userdata("aproval_flag")== "3" or $this->session->userdata("aproval_flag")== "4" or $this->session->userdata("aproval_flag")== "0") :
       if ($strbodaprove == "1" and $strpurchaseaprove == "1" and $strheadaprove == "1" ) :
            echo '<td style="color:#EB293D"; align="center">'.'Has been Approved All'.'</td>' ;
       else:
          if ( $strpurchaseaprove == "1" and $strheadaprove == "1" ) :
              echo  '<td style="color:#EB293D"; align="center">'.'Has been Approved Purchase'.'</td>'  ;    
 	      else :
echo '<td><a href="#" class="btn btn-danger btn-setting reject" id="reject" style="text-decoration:none" req_id='. $row->id_master.'><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Reject</a>
</td>';

<td><div align="center"><input id="checkchild" name="msg[]" type="checkbox" value="<?php echo $row->id_master ; ?>"onclick="checklist_child()"/>
  <div class='error_msg'></div>
    <?php  form_close(); ?>
</div></td>
           endif;
       endif;
     endif;
endif;
?>
