.modal-body{position:relative;padding:0px}.dataTables_info{font-size:14px;margin-left:10px;margin-right:10px}.dataTables_wrapper label{display:initial;font-size:13px;margin-left:10px;margin-right:10px}.dataTables_wrapper .row:first-child{padding-top:16px;padding-bottom:12px;background-color:#EFF3F8}